@import '@/shared/styles/Roboto/fonts';

html,
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
    margin: 0;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}